<app-header></app-header>

<div id="caroussel">
  <div class = "product"> <!-- TODO : NgFor -->
      <img src="../../../assets/products/oil.jpg" width="450" height="520" alt="oil">
  </div>
  <div class = "product">
      <img src="../../../assets/products/cream_pot.jpg" width="450" height="520" alt="cream pot">
  </div>
  <div class = "product">
      <img src="../../../assets/products/hand_cream.jpg" width="450" height="520" alt="hand cream">
  </div>
  <div class = "product">
      <img src="../../../assets/products/skincare.jpg" width="450" height="520" alt="skincare">
  </div>
</div>

<p class="text"> 
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut dolores explicabo excepturi temporibus veniam atque rem nulla ipsum facere odit aperiam esse, voluptate assumenda id! Natus tempora quidem quibusdam eum!
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque temporibus ut cum incidunt dolores nihil, modi ducimus doloribus exercitationem, est dignissimos asperiores dolorum fuga? Dolorum consectetur vitae a incidunt magni!
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam nisi nesciunt error dolorum, deserunt quasi quo tempore tempora, in accusamus quos? Dolores, excepturi non! Inventore esse nostrum animi repellendus explicabo.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa a neque dicta saepe omnis natus quam ut obcaecati numquam, modi maiores, veritatis odio, expedita deserunt sunt commodi et rem eos?
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum ipsam ducimus sint debitis dolorem tempora, totam pariatur molestias illum? Voluptate iure nostrum labore eveniet repellendus molestiae earum itaque illo error.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam similique molestias blanditiis illum provident dicta, necessitatibus sit iusto totam aut consequatur eligendi itaque optio quis accusamus, tempora assumenda praesentium hic.
</p>

