$image-width : 450px;
$gap : 40px;


#caroussel{
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    width: calc(4*$image-width);
    overscroll-behavior: none;
    position: relative;
    height: 100%;
    width: 100%;
    padding-top: 12vh;
    cursor: crosshair;

    transform: translateX(calc(0.8*$image-width));

    .product-showcase{
        margin-inline: 15px;

        img{
            height: 520px;
            width: 450px;
            object-fit : cover;
            border-radius: 32px;
        }
    }
}

.text{
    display :flex;
    justify-content : center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding-inline: 3em;
    width: 100vw;
    margin-bottom: 40vh;
    gap : $gap;

    p{
        width: 50vw;
        text-transform: uppercase;
    }

    transition: transform 500ms cubic-bezier(0,0,0.5,1),opacity 500ms cubic-bezier(0,0,0.5,1);
}


.product-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #FDF7EC; // OR lighter ?

    .filters{
        display: flex;
        justify-content: center;
        //align-self: center;
        gap: 10px;
        margin-top: 10px;
        margin-bottom: 20px;
        padding-bottom: 8px;
        border-bottom : 1px solid black;
        width: 80%;

        .filter{
            display: flex;
            width: 40vh;
            margin-inline: 10px;
            padding: 10px;
            border-radius: 10px;
            cursor: pointer;
            align-items: center;

            label{
                margin-right: 12px;
            }

            select{
                border: 1px solid #bfbfbf;
                padding: 8px;
                border-radius: 8px;
                appearance: none;
                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
                background-repeat: no-repeat;
                background-position: right 4px center;
                background-size: 1em;
                padding-right: 26px;


                &:focus-visible{
                    outline: none;
                }

                option{
                    padding: 15px;
                    border-radius: 0;
                }
            }

        }
    }

    .products{
        width : 90%;
        display : grid;
        gap: calc($gap * 2);
        justify-content: center;
        grid-template-columns: repeat(3,1fr);
        overflow: hidden;
        //margin-bottom: 50px;

        .product{
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;

            .show{
                text-align: center;

                &:hover{
                    cursor: pointer;
                }
            }

            .buy{
                display: flex;
                align-items: center;
                gap: calc($gap / 2);

                img:hover{
                    cursor: pointer;
                }
            }

            // https://geary.co/internal-borders-css-grid/
            &::before, &::after {
                content: '';
                position: absolute;
                background-color: black;
                z-index: 1;
            }

            &::before{
                inline-size: 1px;
                block-size: 110vh;
                inset-block-start: 0;
                inset-inline-start: calc($gap * -1);
            }

            &::after{
                inline-size: 110vw;
                block-size: 1px;
                inset-inline-start: 0;
                inset-block-start: calc($gap * -1);
            }

        }

    }
}


