<app-header></app-header>

<div id="caroussel">
  <div class = "product-showcase">
      <img ngSrc="../../../assets/products/normal_desktop/oil.jpg" width="450" height="520" alt="oil" rel="preload" priority>
  </div>
  <div class = "product-showcase">
      <img ngSrc="../../../assets/products/normal_desktop/cream_pot.jpg" width="450" height="520" alt="cream pot" rel="preload" priority>
  </div>
  <div class = "product-showcase">
      <img ngSrc="../../../assets/products/normal_desktop/hand_cream.jpg" width="450" height="520" alt="hand cream" priority>
  </div>
  <div class = "product-showcase">
      <img ngSrc="../../../assets/products/normal_desktop/skincare.jpg" width="450" height="520" alt="skincare" priority>
  </div>
</div>

<div class="text-wrapper">
  <div class="text">
    <p>
      Bienvenue dans une nouvelle ère de produits cosmétiques où l'environnement est le facteur déterminant.
      Nous vous proposons des produits de qualité, respectueux de l'environnement et de votre peau.
      Notre gamme de produits est composée d'huiles, de crèmes et de soins pour le visage et les mains.
    </p>

    <p>
      Tous nos produits sont fabriqués à partir d'ingrédients naturels et sont conditionnés dans des emballages recyclables.
      Ils sont également sans parabènes, sans silicones et sans huiles minérales.
    </p>
  </div>

</div>

<div class="product-list">
  <div class="filters"> 
    <div class="filter">
      <label for="category">Category : </label>
      <select #category id="category" (change)="onCategoryChange(category.value)">
        <option [value]="category.key" *ngFor="let category of categories | keyvalue"> {{category.value}} </option>
      </select>
    </div>
    <div class="filter">
      <label for="price">Price : </label>
      <select #price id="price" (change)="onPriceChange(price.value)">
        <option value="all">All</option>
        <option value="0-10">0-10€</option>
        <option value="10-20">10-20€</option>
        <option value="20-30">20-30€</option>
        <option value="30-40">30-40€</option>
        <option value="40-50">40-50€</option>
      </select>
    </div>
  </div>


  <div class="products">
    <p *ngIf="filteredProducts.length == 0" class="not-found"> No products found </p>
    <div *ngFor="let product of filteredProducts" class="product">
      
      <a class="show" (click)="openPage(product)" role="link">
        <img [src]="product.image" alt="Image" width="310" height="310" loading="lazy" fetchpriority="low" role="link">

        <h3>
          <a [title]="product.name + ' details'">
            {{ product.name }}
          </a>
        </h3>
      </a>

      <div class="buy">
        <p> {{ product.price | currency: 'EUR' : 'symbol' : '0.2-2' : 'fr' }} </p>
        <button title="Add to Cart" (click)="addtoCart(product)">Add To Cart</button>
      </div>

    </div>
  </div>

</div>
