* {
    font-family: 'Poppins';
    overflow-x: hidden;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  body{
    background: radial-gradient(202.3% 136.27% at 83.78% 10.5%, #E1FBFF 74.61%, rgba(225, 251, 255, 0.65) 100%);
    //background-color: #87CEEB;
}
  
  .hero-text {
    font-size: 8rem;
    text-transform: uppercase;
    color: black;
    z-index: 10;
  }
  
  #container {
    height: 100vh;
    display: grid;
    place-items: center;
    position: relative;
    z-index: 1;
    text-align: center;
  }
  
  #hero-canvas {
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
    cursor: crosshair;
  }