@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  overflow-x: hidden;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.hero-text {
  font-size: 8rem;
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  //text-shadow: 0px 0px 1px #F8D8E7;
  color : #C894AE;
  text-shadow: 0 0 .5px #400c26;

  z-index: 10;
  position: relative;
  top : -5vh;
}

.dg.ac { //canvas
  z-index: 1000000 !important;
}

#container {
  height: 100dvh;
  display: grid;
  z-index: 1;
  place-items: center;
  position: relative;
  text-align: center;
}

#hero-canvas {
  position: absolute;
  left: 0;
  outline: none;
  cursor: crosshair;
  mix-blend-mode: overlay;
}


.animated-blob {
  position: absolute;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 50;
  mix-blend-mode: darken;
  top : -505px;
  right: -525px;
  overflow: hidden;
}

@media (max-width: 967px) {
  .animated-blob {
      right : calc(-525px + ((-967px + 100vw) / (2 * 967)) * 525 );
  }
}

@media (max-width: 780px) {
  .animated-blob {
      right : calc(-600px + ((-760px + 100vw) / (2 * 760)) * 600);
  }
}

@media (max-width: 500px) {
    .hero-text {
        font-size: 5rem;
    }
}