//@import url('https://fonts.googleapis.com/css2?family=Didot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
//import ITC BERKELEY old style font

$bcg-color: radial-gradient(202.3% 136.27% at 83.78% 10.5%, #E1FBFF 74.61%, rgba(225, 251, 255, 0.65) 100%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Garamond', serif;
}

body{
    background: $bcg-color;
    //background-color: #87CEEB;
}

a {
    padding: 10px;
    color: inherit;
    text-decoration: inherit;
}

.animated-blob {
    position: absolute;
    width : 400rem;
    top: 20vh;
    right: 400vh;
    z-index: 10;
  }

@media (max-width: 780px) {
    h2{
        font-size : 130px;
    }
}

@media (max-width: 540px) {
    h2{
        font-size : 90px;
    }
}  