body{
    /*background: radial-gradient(202.3% 136.27% at 83.78% 10.5%, #E1FBFF 74.61%, rgba(225, 251, 255, 0.65) 100%);*/
    background-color: #87CEEB;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.left-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    padding: 10px;
    color: inherit;
    text-decoration: inherit;
}

@media (max-width: 780px) {
    h2{
        font-size : 130px;
    }
}

@media (max-width: 540px) {
    h2{
        font-size : 90px;
    }
}  