<app-header></app-header>

<div class="container">
  <div class="product">
    <div class="left_col">
      <img [src]="product.image" alt="Image" width="500" height="500">
    </div>
    <div class="right_col">
      <h3 class="title">
        <a [title]="product.name + ' details'">
          {{ product.name }}
        </a>
      </h3>
  
      <p class="description">
          {{ product.description }}
      </p>

      <p class="price">
        {{ product.price | currency: 'EUR' : 'symbol' : '0.2-2' : 'fr' }}
      </p>

      <div class="buy">
        <button (click)="addToCart()" class="buy_btn"> 
          Add to cart
        </button>

        <div class="quantity-details select">
            <span id="chevron"><chevron-down></chevron-down></span>
            <select #itemQuantity (change)="setQuantity(itemQuantity.value)" id="item-quantity">
              <option *ngFor="let i of getQuantityArray()" value="{{ i }}" [attr.selected]="quantity == i ? true : null">{{ i }}</option>
            </select>
        </div>

      </div>

    </div>
  </div>
</div>


