<app-header></app-header>

<div class="container">
    <div class="row">
        <span></span>
        <span></span>
        <div class="col">
            <p> Welcome to Nyxen, where beauty meets sustainability. Our journey began with three best friends who shared a passion for skincare and a deep concern for the environment. Ava, Maya, and Liam came together with a shared vision: to create a skincare brand that not only delivers effective results but also upholds the values of clean beauty and eco-consciousness. </p>
        </div>
        <span></span>
        <span></span>
        <span></span>
    </div>

    <div class="row row-img">
        <div class="col">
            <img class="grid-img" src="../../assets/products/dreamy.jpeg" alt="story">
        </div>
        <span></span>
        <span></span>
        <span></span>
        <div class="col">
            <p> Our story starts during our college days, where we often found ourselves discussing the harmful chemicals prevalent in mainstream skincare products and their negative impact on both our bodies and the planet. Driven by a desire to make a change, we embarked on a mission to create something better. </p>
        </div>
        <span></span>
    </div>

    <div class="row">
        <span></span>
        <span></span>
        <div class="col">
            <p> After years of research and dedication, we launched Nyxen. We combined Ava's expertise in chemistry, Maya's eye for design, and Liam's entrepreneurial spirit to create a brand that stands for purity, transparency, and sustainability.</p>
        </div>
        <span></span>
        <span></span>
        <span></span>
    </div>

    <div class="row">
        <span></span>
        <span></span>
        <div class="col">
            <p>At Nyxen, we believe that what you put on your skin matters. That's why we meticulously select only the highest quality natural and organic ingredients for our products. Each ingredient is carefully chosen for its efficacy and safety, ensuring that our skincare formulations deliver results you can see and feel.</p>
        </div>
        <span></span>
        <span></span>
        <span></span>
    </div>

    <div class="row row30">
        <img class="full-row-img" src="../../assets/products/story_long.jpeg" alt="landscape illustration">
    </div>

    <div class="row">
        <span></span>
        <span></span>
        <div class="col">
            <p>But our commitment to clean beauty goes beyond just our ingredients. We're dedicated to minimizing our environmental footprint every step of the way. From our sustainable packaging made from recycled materials to our eco-conscious manufacturing processes, we strive to make choices that are good for both your skin and the planet.</p>
        </div>
        <span></span>
        <div class="col">
            <p >What started as a shared dream among friends has grown into a movement. Nyxen isn't just a skincare brand; it's a symbol of hope for a healthier, more sustainable future. Join us on our journey to redefine beauty standards and make a positive impact on the world, one skincare product at a time. Thank you for being a part of our story.</p>
        </div>
        <span></span>
    </div>

    <div class="lines">
        <span class="vline left"></span>
        <span class="vline left"></span>
        <span class="vline left right"></span>
        <span class="vline right"></span>
        <span class="vline right"></span>
        <span class="vline"></span>
    </div>

</div>











