.container{
    text-align: center;
    margin-top: 7rem;
    margin-bottom : 6rem;
    margin-right: 2rem;

    .row{
        margin-top: 2rem;
        margin-bottom: 2rem;
        grid-gap : 3rem;
    }

    p{
        text-transform: none;
        font-size: medium;
        font-weight: 400;
        line-height : 1.5;
    }

    .row12{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 1rem;
    }

    .row21{
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: 2fr 1fr;
    }

    .row30{
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: 3fr 0fr;
    }

    .row11{
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: 1fr 1fr;
    }

    .row-img{
        height: 33vw;
    }

    .col{
        padding: 1rem;
        text-align: center;
        position: relative;

        .grid-img{
            width : 33vw;
            border-radius: 3%;
            position: absolute;
            left : -.8vw;
        }
    }

}

