<app-header></app-header>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Story</h1>
        </div>
        <div class="col-12" style="padding-bottom:50px;">
            <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h2 >Our Story</h2>
        </div>
        <div class="col-12">
            <img class="grid-img" src="../../assets/products/42802314.png" alt="story">
        </div>

    </div>

    <div class="row">
        <div class="col-12">
            <h2 >Our Mission</h2>
        </div>
        <div class="col-12">
            <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo.</p>
        </div>
    </div>

</div>