$image-width : 450px;

#caroussel{
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    width: calc(4*$image-width);
    overscroll-behavior: none;
    padding-top: 12vh;
    cursor: crosshair;

    .product{
        margin-inline: 15px;

        img{
            height: 520px;
            width: $image-width;
            object-fit : cover; //contain; is good
            border-radius: 32px;
        }
    }
}
.text{
    text-align: center;
    padding-inline: 3em;
    width: 100vw;
    margin-block: 400px;
    text-transform: uppercase;

    transition: transform 500ms cubic-bezier(0,0,0.5,1),opacity 500ms cubic-bezier(0,0,0.5,1);
}


