<app-header></app-header> 

<div id="cart">
  <div id="cart-items">
  <div class="title" id="cart-title">Cart</div>

    <div class="cart-item" *ngFor="let item of getItems() | keyvalue">
      <img id="product-img" src="{{ productService.getProductImagePath(item.key) }}">

      <div class="item-details">
        <span class="title">{{ productService.getProductName(item.key) }}</span>
        <p class="description">{{ productService.getProductDescription(item.key) }}</p>

        <div class="quantity-details">
          <div class="select">
            <span id="chevron"><chevron-down></chevron-down></span>
            <select #itemQuantity (change)="cartService.setItemQuantity(item.key, itemQuantity.value)" id="item-quantity">
              <option *ngFor="let i of getQuantityArray()" value="{{ i }}" [attr.selected]="item.value == i ? true : null">{{ i }}</option>
            </select>
          </div>
          <button class="removeItemButton" (click)="cartService.removeFromCart(item.key)">Remove</button>
        </div>
      </div>

    </div>

  </div>

  <div>Total: {{ cartService.getTotalAmount() | currency }}</div>
  <button (click)="cartService.clearCart()">Clear cart</button>
</div>

