 <!--
    TODO: Fix app-header display 
    <app-header></app-header> 
-->

<div>Cart</div>

<div class="cart-item" *ngFor="let item of getItems() | keyvalue">
  <div >{{ productService.getProductName(item.key) }}: {{ item.value }}</div>
  <select #itemQuantity (change)="cartService.setItemQuantity(item.key, itemQuantity.value)" id="item-quantity">
    <option *ngFor="let i of getQuantityArray()" value="{{ i }}" [attr.selected]="item.value == i ? true : null">{{ i }}</option>
  </select>
  <button (click)="cartService.removeFromCart(item.key)">Remove</button>
</div>

<div>Total: {{ cartService.getTotalAmount() | currency }}</div>

<button (click)="cartService.clearCart()">Clear cart</button>
