#cart-img{
    width: 26.67px;
    height: 33.33px;
    margin: 0 10px;
    cursor: pointer;
    color : yellow;
}
#product-img{
    width: 40px;
    height: 40px;
    margin: 0 10px;
    cursor: pointer;
}